* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--white);
  line-height: 1.7rem;
  
}

html {
--blackest: #0f161d;
--black: #141d26;
--navy: #243447;
--pink: #c51f5d;
--dark-pink: #8d1642;
--white: white;
/* var(--black, value) */
}

h2 {
  color: var(--pink);
  font-size: 1.2rem;
}

h3 {
  color: var(--dark-pink);
  font-size: 1rem;
}

p {
  margin-top: 8px;
  font-size: 0.7rem;
}

li {
  list-style: none;
}

label {
  color: var(--dark-pinkpink);
  font-size: 0.8rem;
}

input, textarea {
  background-color: #243447;
}

input:active, textarea:active {
  border-color: white;
}

button {
  border-radius: 20px;
  background-color: var(--dark-pink);
  color: var(--white);
  padding: 3px 7px;
}

button:hover{
  background-color: var(--pink);
}

button:active{
  background-color: var(--dark-pink);
}

.all-file {
  background-color: var(--black);
  display: grid;
  grid-template:
    "header header header" 60px
    "left main right" 1fr /
    200px 1fr 200px;

  /* gap: 10px; */
}

/* HEADER SECTION  */
.header-top {
  grid-area: header;
  display: grid;
  gap: 10px;
  grid-template-columns: 30px 1fr 150px;
  background-color: var(--blackest);
  padding: 20px;
  color: white;
}

.logo {
  width: 30px;
  height: 30px;
}

/* LEFT FILTER SECTION  */
.left-menu {
  background-color: var(--black);
  grid-area: left;
  display: grid;
  grid-template-rows: 65px 80px;
  padding: 15px;
  gap: 25px;
}

.alcoholic-filter-list {
  list-style: none;
}

.category-filter-list {
  list-style: none;
}

.left-menu input{
  margin-left: 10px;
}

/* MAIN SECTION */
.main-section {
  height: 100%;
  width: 100%;
  background-color: var(--navy)
  grid-area: main;
  padding: 20px;
}

.top-section{
  height: 100vh;
  overflow: scroll;
}

.main-section .top-section .list-cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, auto));
  list-style: none;
  gap: 10px;
}

.main-section .bottom-section {
  display: grid;
  place-content: top;
}

.main-section .bottom-section .bottom-section-card {
  border: solid 1px var(--dark-pink);
  padding: 30px;
  border-radius: 8px;
}

.card-image {
  max-width: 100%;
  object-fit: cover;
  margin-top: 5px;
}
.favourite {
  width: 1rem;
  height: 1rem;
}

.card {
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--black)  
}

.list-cards .card:hover{
  border-color: var(--pink);
}

/* SELECTED CARD AREA  */
.main-section .selected-card-image {
  height: 100px;
  width: 100px;
}

.main-section .ingredients-list {
  list-style: circle;
  list-style: none;
}

/* RIGHT MENU */

.right-menu {
  background-color: var(--black)
  grid-area: right;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 25px;
  padding: 20px;
}

.favourites-list {
  list-style: none;
}

.favourites-list li {
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  padding: 5px 8px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 50px;
}

.favourites-list button {
  display: inline;
}



.new-drink-form select {
  display: block;
}

.new-drink-form input {
  margin: 10px 0px;
}

.alcoholic-form {
  list-style: none;
}

.alcoholic-form input{
  margin-left: 10px;
}